<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WanXiyou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74F5B95B1F2EB2E4002842F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F5B9741F2EB2E4002842F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F5B97F1F2EB2E4002842F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
